<?xml version="1.0" encoding="utf-8"?>
<settings>
  <autoload>
    <addon>aecho</addon>
    <addon>autoenterkey</addon>
    <addon>autojoin</addon>
    <addon>barfiller</addon>
    <addon>cancel</addon>
    <addon>capetrader</addon>
    <addon>checkparam</addon>
    <addon>ChatLink</addon>
    <addon>Debuffed</addon>
    <addon>Dimmer</addon>
    <addon>DistancePlus</addon>
    <addon>enemybar</addon>
    <addon>enternity</addon>
    <addon>equipviewer</addon>
    <addon>FastCS</addon>
    <addon>findAll</addon>
    <addon>giltracker</addon>
    <addon>highlight</addon>
    <addon>indinope</addon>
    <addon>instaLS</addon>
    <addon>itemizer</addon>
    <addon>JobChange</addon>
    <addon>ohShi</addon>
    <addon>Omen</addon>
    <addon>SATACast</addon>
    <addon>scoreboard</addon>
    <addon>Silence</addon>
    <addon>SpeedChecker</addon>
    <addon>targetinfo</addon>
    <addon>thtracker</addon>
    <addon>TParty</addon>
    <addon>update</addon>
    <addon>vwhl</addon>
    <addon>Yush</addon>
    <addon>zonetimer</addon>
    <addon>shortcuts</addon>
    <addon>autoinvite</addon>
    <addon>AutoRA</addon>
    <addon>invtracker</addon>
    <addon>linker</addon>
    <addon>Logger</addon>
    <addon>lottery</addon>
    <addon>Pouches</addon>
    <addon>send</addon>
    <addon>TreasurePool</addon>
    <addon>xivbar</addon>
    <addon>GearSwap</addon>
    <plugin>AutoExec</plugin>
    <plugin>Binder</plugin>
    <plugin>ChatMon</plugin>
    <plugin>Config</plugin>
    <plugin>DelayMeNot</plugin>
    <plugin>FishingCrashFix</plugin>
    <plugin>Guildwork</plugin>
    <plugin>InfoBar</plugin>
    <plugin>LightLuggage</plugin>
    <plugin>Sandbox</plugin>
    <plugin>Run</plugin>
    <plugin>SSOrganizer</plugin>
    <plugin>Tickle</plugin>
    <plugin>Timers</plugin>
    <plugin>JaZero</plugin>
    <plugin>WinControl</plugin>
    <plugin>Bidder</plugin>
  </autoload>
  <profile name="">
    <consolekey>Insert</consolekey>
    <windowmode>Window</windowmode>
    <uiscale>1.5</uiscale>
  </profile>
  <profile name="New Profile 1">
    <consolekey>Insert</consolekey>
    <uiscale>1</uiscale>
    <args>--server 10.0.10.9 --hairpin</args>
    <executable>A:\Games\FFXI\FFXI\xiloader.exe</executable>
  </profile>
</settings>